<div>
  <p><b>Requester:</b> <%= @stuff.user.username%></p>
  <p><b>Name:</b> <%= @stuff.stuff_name%></p>
  <p><b>Category:</b> <%= @stuff.category.category_name%></p>
  <p><b>Curent status:</b> <%= @stuff.status%></p>
</div>