<h1>New stuff request</h1>

<p>
    Admins:<br/>

    <%= @stuff.user.full_name%> has been requested for 
    "<%= @stuff.stuff_name%>"
</p>

<p>
    To see more details check <%= @url%>
</p>

<p>Have a nice day.</p>